<app-spinner></app-spinner>
<div class="wrapper">

  <div id="content">
    <app-encabezado></app-encabezado>
    <app-menu class="slide-in-left"></app-menu>
    <router-outlet></router-outlet>
  </div>

</div>
 

