
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2191c0;
    color: #fff;
    transition: all 0.3s;
    height: 100%;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0078ae;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.foot {
    padding: 20px;
}

.menu-c {
    width: 100%;
    padding: 6px;
    margin: 3px;
    margin-top: 9px;
}

