<nav id="sidebar" [ngClass]="{'active': _util.ocultarMenuRol}" *ngIf="_aut.autenticado">
  <ul class="list-unstyled components" >
    <li *ngFor="let item of menu">
      <button pButton type="button" routerLinkActive="is-active" [routerLink]="[item.url]" [label]="[item.titulo]"  ></button>
    </li>
  </ul>

</nav>

